<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="csrftoken" value="gFur4zm5oItCdOgAy1a4TXNboRAI6VTJmf0fwuCOJxUM6cFkoFlSrerAyGpFHm95"/>
      <add key="sessionid" value="vs1zbioz60mry6xvneuyl67pg8bs8qcz"/>
    </appSettings>
</configuration>